{% trans_default_domain 'JoliMediaSyliusAdminBundle' %}

{% set media = data %}

{% if media is not null %}
    {% if media.isStored %}
        {% include '@JoliMediaSylius/_as_image.html.twig' with {'variation': 'joli_media_sylius_admin'} %}
    {% else %}
        <span class="badge text-bg-danger" title="{{ 'media.inaccessible.explanation'|trans({ '%media%': media.filename }) }}">
            {{ 'media.inaccessible.label'|trans }}
        </span>
    {% endif %}
{% endif %}
